.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.header .logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.search-container {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar {
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.header-cart-link {
    position: relative;
    display: inline-block;
}

.header-cart-icon {
    width: 24px;
    height: 24px;
    position: relative;
}

.header-cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff4d4f; 
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 25%;
    padding: 2px;
    min-width: 20px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.header-cart-count:hover {
    transform: scale(1.2); 
}

.verified-check {
    color: #1d24f2; 
    margin-left: 8px;
  }